<h2>Email enviado</h2>
<p>
En unos minutos recibirá un email desde el cuál podrá ingresar al panel personalizado.
</p>

<h2>El contenido del email</h2>
<p>
<a href="ingresar?token=<%= token %>">http://localhost:9292/ingresar?token=<%= token %></a>
</p>
