<form class="ingreso" action="/enviar_email">
  <h2>
    Ingreso al sitio
  </h2>
  <p>
  Para ingresar al sitio no necesita una contraseña, simplemente escriba su email
  en este campo y recibira un enlace personalizado para ingresar.
  </p>
  <label class="sr-only" for="email">Dirección de Email</label>
  <input type="email" autofocus required placeholder="Email" class="form-control" id="email-input">
  <button type="submit" class="btn btn-lg btn-primary btn-block">Solicitar token</button>
</form>
