<div class="jumbotron">
  <h1 class="display-3">Ædificare</h1>
  <p class="lead">Servicio de administración de consorcios en Santa Fe</p>
</div>

<div id="pilares" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#pilares" data-slide-to="0" class="active"></li>
    <li data-target="#pilares" data-slide-to="1"></li>
    <li data-target="#pilares" data-slide-to="2"></li>
    <li data-target="#pilares" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img src="http://lorempixel.com/690/388/city/1" alt="First slide">
      <div class="carousel-caption">
        <h2>Transparencia</h2>
        <p> A través de Expensas Claras, demostramos total transparencia en todas las operaciones. Una marcada diferencia es la Digitalización de los Datos; permite al consorcista solicitar toda la información vía on-line de: expensas, pagos, facturas, presupuestos, altas y bajas de servicios, seguros, entre otros. </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://lorempixel.com/690/388/city/2" alt="Second slide">
      <div class="carousel-caption">
        <h2>Buena convivencia de los vecinos</h2>
        <p> La importancia de la buena convivencia entre los vecinos es primordial. Hacemos cumplir el reglamento de copropiedad. Nuestra metodología es siempre conciliatoria.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://lorempixel.com/690/388/city/3" alt="Third slide">
      <div class="carousel-caption">
        <h2>Prontitud y proactividad en la Gestión</h2>
        <p> Procuramos resoluciones rápidas y efectivas de los inconvenientes que surjan. Asimismo, aportamos ideas en materia de seguridad a fines de anticiparnos a cualquier inconveniente. Entendemos que, la seguridad edilicia, personal y de los bienes es un trabajo en conjunto entre la Administración y el consorcista.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://lorempixel.com/690/388/city/4" alt="responsabilidad">
      <div class="carousel-caption">
        <h2>Responsabilidad</h2>
        <p> Los copropietarios depositan en el administador toda su confianza para resolver problemas del tipo edilicio, jurídico, contable y administrativo, por ello, la responsabilidad y la diligencia es el deber que asumimos en nuestra Organización. Buscamos generar lazos de confiabilidad y perdurabilidad con el consorcista.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#pilares" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#pilares" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr class="my-2">

<div class="row">
  <div class="col-sm-6">
    <h2>Nosotros</h2>
    <p>Mediante un nuevo concepto y visión, aspiramos a marcar
       la diferencia en la forma de Administrar Consorcios.</p>
    <p>Pretendemos ser un referente en el rubro.</p>
  </div>
  <div class="col-sm-6">
    <h2>Misión</h2>
    <p>Somos una Administradora de Consorcios que brinda servicios integrales
    en el campo administrativo, legal y contable.</p>
    <p> Conformamos una organización joven, dotada de conocimientos sólidos y
    energía para llevar adelante una administración exitosa.</p>
  </div>
</div>
