<h1>Panel personalizado</h1>

<h2>Facturas</h2>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Monto</th>
      <th>Descarga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nov 12</td>
      <td>Mantenimiento ascensores</td>
      <td>$514</td>
      <td><a href="#">Descargar</a></td>
    </tr>
    <tr>
      <td>Nov 15</td>
      <td>EPE</td>
      <td>$515</td>
      <td><a href="#">Descargar</a></td>
    </tr>
  </tbody>
</table>

<a class="btn btn-danger" href="/salir">Salir</a>
<a class="btn btn-primary" href="/">Volver</a>
